body {
  font-family: 'DM Sans', sans-serif;
  
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Russo One', sans-serif;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 10;
  transition: transform 0.3s ease-in-out;
  padding: 0 20px;
}

.nav-visible {
  transform: translateY(0);
}

.nav-hidden {
  transform: translateY(-100%);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

nav a {
  color: white;
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  transform: skewX(-20deg);
}

.nav-link {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}



.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.192);
  transform: skewX(-20deg);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.nav-link:hover::after {
  opacity: 1; /* No sliding in effect, just appears */
}

.banner-section {
  position: relative;
  overflow: hidden;
}

.social-icons {
  margin-left: auto; /* Push icons to the right */
}

.banner-section h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner-section button {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.062), 0 1px 3px rgba(0, 0, 0, 0);
}





.parallelogram-button {
  @apply bg-purple-700 text-white text-lg py-3 px-6 border-none transition-transform duration-300;
  transform: skew(-20deg); /* Forma de paralelogramo */
  font-family: 'DM Sans', sans-serif; /* Fuente personalizada */  
}

.normal-text {
  display: inline-block;
  font-size: 30px;
  transform: skew(20deg); /* Revertir la inclinación del texto */
}


.parallelogram-button:hover {
  background: #5a1a94;
  border-color: yellow;
  border: 20px;
}

/* Estilos Responsivos */
.banner-title {
  font-size: 4rem;
}

.banner-subtitle {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .banner-title {
    font-size: 6rem;
  }
  .banner-subtitle {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .banner-title {
    font-size: 9rem;
  }
  .banner-subtitle {
    font-size: 2.5rem;
  }
}


@media (max-width: 767px) {
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9;
  }
  .nav-links.block {
    display: flex;
  }
  .nav-link {
    padding: 1rem;
  }

  .banner-title {
    font-size: 3rem;
  }
  .banner-subtitle {
    font-size: 1.25rem;
  }
}

.tech-bar {
  background: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  backdrop-filter: blur(10px);
}



